<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="wrapper">
  <nav>
    <button class="button-left" (click)="navMenu('')">Главная</button>
    <div class="dropdown">
      <button class="button-center">Добавить</button>
      <div class="dropdown-menu">
        <button class="menu-button" (click)="navMenu('create-brand')">Бренд</button>
        <button class="menu-button" (click)="navMenu('create-category')">Категория</button>
        <button class="menu-button" (click)="navMenu('create-decor')">Декор</button>
        <button class="menu-button" (click)="navMenu('create-format')">Формат</button>
        <button class="menu-button" (click)="navMenu('create-texture')">Текстура</button>
        <button class="menu-button" (click)="navMenu('create-thickness')">Толщина</button>
        <button class="menu-button" (click)="navMenu('create-material')">Материал</button>
      </div>
    </div>
    <button class="button-center">Удалить</button>
    <button class="button-right">Загрузить материалы</button>
  </nav>
</div>
<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

